USE [master]
GO
/****** Object:  Database [FormQuestionAndAnswer]    Script Date: 18/09/2024 15:33:34 PM ******/
CREATE DATABASE [FormQuestionAndAnswer]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FormQuestionAndAnswer', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FormQuestionAndAnswer.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FormQuestionAndAnswer_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FormQuestionAndAnswer_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FormQuestionAndAnswer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FormQuestionAndAnswer]
GO
/****** Object:  Table [dbo].[Answer]    Script Date: 18/09/2024 15:33:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[question_id] [int] NULL,
	[answer_option_id] [int] NULL,
 CONSTRAINT [PK_Answer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnswerOption]    Script Date: 18/09/2024 15:33:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnswerOption](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[option_answer_content] [nvarchar](225) NULL,
	[question_id] [int] NULL,
 CONSTRAINT [PK_AnswerOption] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnswerType]    Script Date: 18/09/2024 15:33:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnswerType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nchar](10) NULL,
	[name] [nvarchar](204) NULL,
 CONSTRAINT [PK_AnswerType] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 18/09/2024 15:33:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[question_content] [nvarchar](500) NULL,
	[answer_type_id] [int] NULL,
	[answer_content] [nvarchar](225) NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AnswerType] ON 

INSERT [dbo].[AnswerType] ([id], [code], [name]) VALUES (1, N'ReplyText ', N'reply text')
INSERT [dbo].[AnswerType] ([id], [code], [name]) VALUES (4, N'ChooseAS  ', N'choose answer')
SET IDENTITY_INSERT [dbo].[AnswerType] OFF
GO
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [FK_Answer_AnswerOption] FOREIGN KEY([answer_option_id])
REFERENCES [dbo].[AnswerOption] ([id])
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [FK_Answer_AnswerOption]
GO
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [FK_Answer_Questions] FOREIGN KEY([question_id])
REFERENCES [dbo].[Questions] ([id])
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [FK_Answer_Questions]
GO
ALTER TABLE [dbo].[AnswerOption]  WITH CHECK ADD  CONSTRAINT [FK_AnswerOption_Questions] FOREIGN KEY([question_id])
REFERENCES [dbo].[Questions] ([id])
GO
ALTER TABLE [dbo].[AnswerOption] CHECK CONSTRAINT [FK_AnswerOption_Questions]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_AnswerType] FOREIGN KEY([answer_type_id])
REFERENCES [dbo].[AnswerType] ([id])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_AnswerType]
GO
/****** Object:  StoredProcedure [dbo].[GetAllQuestion]    Script Date: 18/09/2024 15:33:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllQuestion] 
AS
BEGIN
SELECT Questions.id as question_id,
Questions.question_content,
Questions.answer_content,

Questions.answer_type_id,
AnswerType.code as answer_type_code,

Answer.id as answer_id,
Answer.answer_option_id as answer_option_id,

AnswerOption.option_answer_content as option_answer_content

FROM Questions
LEFT JOIN AnswerType ON AnswerType.id = Questions.answer_type_id
LEFT JOIN Answer ON Answer.question_id = Questions.id
LEFT JOIN AnswerOption ON AnswerOption.id = Answer.answer_option_id
ORDER BY Questions.id

END
GO
/****** Object:  StoredProcedure [dbo].[GetQuestion]    Script Date: 18/09/2024 15:33:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetQuestion] 
(
   @ID as int
)
AS
BEGIN
SELECT Questions.id AS question_id,
Questions.question_content,
Questions.answer_content,

Questions.answer_type_id as answer_type_id,
AnswerType.code as answer_type_code,

AnswerOption.id as answer_option_id,
AnswerOption.option_answer_content

FROM Questions
LEFT JOIN AnswerType ON AnswerType.id = Questions.answer_type_id
LEFT JOIN AnswerOption ON AnswerOption.question_id = Questions.id
WHERE Questions.id = @ID
END
GO
USE [master]
GO
